<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://www.wanhaofrance.com/cdn/shop/files/Klipper-Pad-3_7cd771fb-5d5b-4af7-b3ba-c8eb5bbbc907_1200x1200.jpg?v=1695227858" alt="Bootstrap" width="30" height="24">
        Smart Pads Connected
      </a>
    </div>
  </nav>